<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/assets/htmx@1.9.0.js"></script>
    <title>Mau Mau</title>
  </head>
  <body>
    <div>
      {% for player in other_players %}
      <div>
        {% if player.user_id == current_turn_player %}
        <h2>{{ player.username }}*</h2>
        {% else %}
        <h2>{{ player.username }}</h2>
        {% endif %}
        <p>{{ player.hand_size }} cards</p>
      </div>
      {% endfor %}
    </div>
    <p>Cards in Deck: {{ num_cards_in_deck }}</p>
    <p>Played Cards: {{ num_cards_played }}</p>
    <p>
      Your viable Actions: {% for viable_action in viable_actions %} {{
      viable_action }} {% endfor %}
    </p>
    <div>
      <h2>Your Hand</h2>
      <div>
        {% for card in my_hand %}
        <div id="{{ card.id }}">
          <p>{{ card.suit }} {{ card.rank }}</p>
          <button
            hx-post="{{ play_card_route }}"
            hx-swap="outerHTML"
            hx-trigger="click"
            hx-target="#{{ card.id }}"
            hx-vals='{"id": {{card.id}} }'
          >
            Play
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
    <div>
      <h2>Last played Card</h2>
      <div>
        <div>
          <p>{{ last_played_card.suit }} {{ last_played_card.rank }}</p>
        </div>
      </div>
    </div>
    {% if let Some(winner) = winner %}
    <h2>{{ winner.username }} won!</h2>
    {% endif %} {% if is_my_turn %}
    <p>your turn</p>
    {% endif %}
    <h2></h2>
  </body>
</html>
