<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/assets/htmx@1.9.0.js"></script>
    <title>Mau Mau</title>
  </head>
  <body>
    <div>
      {% for player in other_players %}
      <div>
        {% if player.user_id == current_turn_player %}
        <h2>{{ player.username }}*</h2>
        {% else %}
        <h2>{{ player.username }}</h2>
        {% endif %}
        <p>{{ player.hand_size }} cards</p>
      </div>
      {% endfor %}
    </div>
    <p>Cards in Deck: {{ num_cards_in_deck }}</p>
    {% if let Some(draw_cards) = viable_actions.draw_cards %}
    <h2>draw</h2>
    <button
      hx-post="{{ handle_action_route }}"
      hx-swap="outerHTML"
      hx-trigger="click"
      hx-target="#draw-card"
      hx-vals='{"draw_cards": {{ draw_cards }}}'
    >
      Draw {{ draw_cards }} Card(s)
    </button>
    {% endif %}
    <p>Played Cards: {{ num_cards_played }}</p>
    <div>
      <h2>Your Hand</h2>
      <div>
        {% for card in my_hand %}
        <div>
          <p>{{ card.suit }} {{ card.rank }}</p>
          {% if viable_actions.playable_cards.contains(card.id) %}
          <button
            hx-post="{{ handle_action_route }}"
            hx-trigger="click"
            hx-vals='{"play_card": {{card.id}} }'
          >
            Play
          </button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% if viable_actions.decide_suit %}
    <div>
      <h2>Decide Suit</h2>
      <div>
        <button
          hx-post="{{ handle_action_route }}"
          hx-trigger="click"
          hx-vals='{"decide_suit": "hearts"}'
        >
          Hearts
        </button>
        <button
          hx-post="{{ handle_action_route }}"
          hx-trigger="click"
          hx-vals='{"decide_suit": "diamonds"}'
        >
          Diamonds
        </button>
        <button
          hx-post="{{ handle_action_route }}"
          hx-trigger="click"
          hx-vals='{"decide_suit": "clubs"}'
        >
          Clubs
        </button>
        <button
          hx-post="{{ handle_action_route }}"
          hx-trigger="click"
          hx-vals='{"decide_suit": "spades"}'
        >
          Spades
        </button>
      </div>
    </div>
    {% endif %} {% if viable_actions.end_turn %}
    <button
      hx-post="{{ handle_action_route }}"
      hx-trigger="click"
      hx-vals='{"end_turn": true}'
    >
      End Turn
    </button>
    {% endif %}
    <div>
      <h2>Last played Card</h2>
      <div>
        <div>
          <p>{{ last_played_card.suit }} {{ last_played_card.rank }}</p>
        </div>
      </div>
    </div>
    {% if let Some(winner) = winner %}
    <h2>{{ winner.username }} won!</h2>
    {% endif %} {% if is_my_turn %}
    <p>your turn</p>
    {% endif %}
    <h2></h2>
  </body>
</html>
