<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="assets/htmx@1.9.0.js"></script>
    <title>Mau Mau</title>
  </head>
  <body>
    <h1>Mau Mau</h1>
    <h2>Lobbies</h2>
    <ul>
      {% for lobby in lobbies %}
      <li>
        <a href="/lobbies/{{ lobby.id }}">{{ lobby.name }}</a>
      </li>
      {% endfor %}
    </ul>
    {% if is_logged_in %}
    <button hx-post="/lobbies" hx-target="html">Create Lobby</button>
    {% else %}
    <a href="/register">Create Account</a>
    {% endif %}
  </body>
</html>
